Repository openfoodfacts/openfoodfacts-explorer, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, 📖 Knowledge panels, 🌐 Translations, Dependencies, 📚 Documentation, 🚦 Nutri-Score, 🖼️ Images, Home page, QR, Settings, Search, Green-Score, Ultra-processed foods - NOVA, User Interface, Nutrients, Footer

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'
🏷️ Folksonomy Engine:
  - changed-files:
      - any-glob-to-any-file: 'src/routes/folksonomy/**/*'
      - any-glob-to-any-file: 'src/lib/api/folksonomy.ts'
      - any-glob-to-any-file: 'src/routes/products/[barcode]/Folksonomy.svelte'
📖 Knowledge panels:
  - changed-files:
      - any-glob-to-any-file: 'src/lib/knowledgepanels/**/*'
🌐 Translations:
  - changed-files:
      - any-glob-to-any-file: 'src/lib/translations/**/*'
Dependencies:
  - changed-files:
      - any-glob-to-any-file: '.github/dependabot.yml'
📚 Documentation:
  - changed-files:
      - any-glob-to-any-file: 'README.md'
🚦 Nutri-Score:
  - changed-files:
      - any-glob-to-any-file: 'src/lib/nutriscore/**/*'
facets:
  - changed-files:
      - any-glob-to-any-file: 'src/routes/products/[barcode]/edit/Tags.svelte'
      - any-glob-to-any-file: 'src/routes/products/[barcode]/edit/TagsString.svelte'
      - any-glob-to-any-file: 'src/routes/taxo/[taxo]/[id]/**/*'
💸 Prices:
  - changed-files:
      - any-glob-to-any-file: 'src/routes/products/[barcode]/Prices.svelte'
      - any-glob-to-any-file: 'src/lib/api/prices.ts'
      - any-glob-to-any-file: 'src/lib/api/prices.d.ts'
      - any-glob-to-any-file: 'src/routes/products/[barcode]/PriceEdit.svelte'
🖼️ Images:
  - changed-files:
      - any-glob-to-any-file: 'src/lib/ui/ImageModal.svelte'
      - any-glob-to-any-file: 'src/lib/ui/ImageButton.svelte'
Product page:
  - changed-files:
      - any-glob-to-any-file: 'src/routes/products/[barcode]/**/*'
Home page:
  - changed-files:
      - any-glob-to-any-file: 'src/lib/ui/SmallProductCard.svelte'
QR:
  - changed-files:
      - any-glob-to-any-file: 'src/routes/qr/**/*'
Settings:
  - changed-files:
      - any-glob-to-any-file: 'src/routes/settings/**/*'
✏️ Editing:
  - changed-files:
      - any-glob-to-any-file: 'src/routes/products/[barcode]/edit/**/*'
      - any-glob-to-any-file: 'src/routes/products/[barcode]/edit/+page.ts'
      - any-glob-to-any-file: 'src/routes/products/[barcode]/PriceEdit.svelte'
Search:
  - changed-files:
      - any-glob-to-any-file: 'src/routes/products/search/**/*'
Green-Score:
  - changed-files:
      - any-glob-to-any-file: 'src/lib/greenscore/**/*'
Ultra-processed foods - NOVA:
  - changed-files:
      - any-glob-to-any-file: 'src/lib/nova/**/*'
User Interface:
  - changed-files:
      - any-glob-to-any-file: 'src/lib/ui/**/*'
Nutrients:
  - changed-files:
      - any-glob-to-any-file: 'src/lib/api/nutriments.ts'
Footer:
  - changed-files:
      - any-glob-to-any-file: 'src/lib/ui/Footer.svelte'
# 👮 Nutri-Patrol:
#  - changed-files:
#      - any-glob-to-any-file: ''
# 🎁 Donations:
#   - changed-files:
#       - any-glob-to-any-file: ''

# 🕹️ Gamification:
#   - changed-files:
#       - any-glob-to-any-file: ''
# 👥 Users:
#   - changed-files:
#       - any-glob-to-any-file: ''
# 👮 Moderation:
#   - changed-files:
#       - any-glob-to-any-file: ''
# 🔐 Auth:
#   - changed-files:
#       - any-glob-to-any-file: ''
# 🧪 Tests:
#   - changed-files:
#       - any-glob-to-any-file: ''
# 🥜 Allergens:
#   - changed-files:
#       - any-glob-to-any-file: ''
# 🐾 Open Pet Food Facts:
#   - changed-files:
#       - any-glob-to-any-file: ''
# 🧴 Open Beauty Facts:
#   - changed-files:
#       - any-glob-to-any-file: ''
# 📸 Open Products Facts:
#   - changed-files:
#       - any-glob-to-any-file: ''
# 🧽 Data Quality:
#   - changed-files:
#       - any-glob-to-any-file: ''
# 🧪 Additives:
#   - changed-files:
#       - any-glob-to-any-file: ''

feat: Reposition and style floating compare button
  src/lib/ui/CompareFloatingButton.svelte
Labels: User Interface

feat: Add nutrition data and centering to compare page
  src/routes/compare/+page.svelte
Labels: none

feat: implementation of new footer
  package.json
  pnpm-lock.yaml
  src/lib/ui/Footer.svelte
  static/images/footer-bottom-right.svg
  static/images/footer-top-left.svg
  tailwind.config.js
Labels: User Interface, Footer

feat: github action pinning with Ratchet
  .github/workflows/auto-assign-pr.yml
  .github/workflows/ci.yml
  .github/workflows/github-projects.yml
  .github/workflows/label.yml
  .github/workflows/merge-conflict-autolabel.yml
  .github/workflows/semantic-pr.yml
Labels: GitHub Actions

Removed duplicate config of gemini from .github
  .github/.gemini/config.yaml
Labels: GitHub Actions

fix: product image overflows from the container
  src/lib/ui/ImageButton.svelte
  src/routes/products/[barcode]/+page.svelte
Labels: 🖼️ Images, User Interface

changed from preferences to productAttributes, made variables reactive that weren't, created a snippet
  src/lib/api/productAttributes.ts
  src/routes/products/[barcode]/+page.svelte
  src/routes/products/[barcode]/GreenScore.svelte
  src/routes/products/[barcode]/Nova.svelte
  src/routes/products/[barcode]/NutriScore.svelte
  src/routes/products/[barcode]/ProductAttributes.svelte
Labels: none

removing the separate class for getProductAttributes
  src/lib/api/product.ts
  src/lib/api/productAttributes.ts
  src/routes/products/[barcode]/+page.ts
  src/routes/products/[barcode]/ProductAttributes.svelte
Labels: none

fixes
  .env.example
  .github/workflows/merge-conflict-autolabel.yml
  .github/workflows/semantic-pr.yml
  src/routes/products/[barcode]/+page.svelte
Labels: GitHub Actions

checks
  src/routes/products/[barcode]/+page.svelte
Labels: none
