Repository openfoodfacts/openfoodfacts-explorer, pull requests merged in 2025-04, with the labels that each got.

#386 style: X logo color changes as per the theme
  package.json
  pnpm-lock.yaml
  src/lib/ui/Footer.svelte
Labels: Footer

#406 feat: migration of translation strings using Crowdin
  crowdin.yml
  package.json
  pnpm-lock.yaml
  src/lib/i18n/index.ts
  src/lib/i18n/messages/en.json
  src/lib/i18n/messages/it.json
  src/lib/knowledgepanels/Action.svelte
  src/lib/knowledgepanels/TextElement.svelte
  src/lib/translations.ts
  src/lib/translations/en/common.json
  src/lib/translations/en/home.json
  src/lib/translations/it/common.json
  src/lib/translations/it/home.json
  src/routes/+error.svelte
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/+page.svelte
  src/routes/folksonomy/+page.svelte
  src/routes/products/[barcode]/edit/+page.svelte
  src/routes/settings/+page.svelte
Labels: 🌐 Translations

#347 fix: Fixed design issues in product cards on homepage
  src/lib/ui/SmallProductCard.svelte
  src/routes/+page.svelte
Labels: Home page, Lists of products

#430 docs: README additions
  README.md
Labels: 📚 Documentation

#418 docs: Update README.md
  README.md
Labels: 📚 Documentation

#422 fix: Nova card not targeting specific panel ID
  src/routes/products/[barcode]/+page.svelte
Labels: Product page, 📖 Knowledge panels, Attributes

#407 fix: overlapping tags in edit page
  src/routes/products/[barcode]/edit/Tags.svelte
Labels: ✏️ Editing, ✏️ Editing - Tags

#429 fix: search page issue of cards showing in single column fixed
  src/lib/ui/SmallProductCard.svelte
  src/routes/+layout.svelte
  src/routes/products/search/+page.svelte
Labels: Lists of products

#436 feat: Added data sources section on product page (Part of #337)
  src/lib/api/product.ts
  src/lib/i18n/messages/en.json
  src/lib/i18n/messages/it.json
  src/routes/products/[barcode]/+page.svelte
  src/routes/products/[barcode]/DataSources.svelte
Labels: Product page
