Repository openfoodfacts/openfoodfacts-explorer, pull requests merged in 2025-08, with the labels that each got.

#605 feat: add prices map with clustering for product pages
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/lib/api/prices.ts
  src/lib/i18n/messages/en.json
  src/routes/products/[barcode]/+page.svelte
  src/routes/products/[barcode]/+page.ts
  src/routes/products/[barcode]/Prices.svelte
  src/routes/products/[barcode]/PricesMap.svelte
Labels: 💸 Prices

#606 feat: add price display to product search results
  src/lib/api/search.ts
  src/lib/i18n/messages/en.json
  src/routes/products/search/+page.svelte
  src/routes/products/search/+page.ts
Labels: 💸 Prices, Search

#632 fix: directly link to nutripatrol when reporting a product
  .env.example
  src/lib/const.ts
  src/lib/knowledgepanels/Action.svelte
Labels: 👮 Nutri-Patrol, 📖 Knowledge panels

#643 feat: swap the links in the footer to our own static serving
  src/lib/ui/Footer.svelte
Labels: Footer, User Interface

#658 feat: implement ResizableImage component
  package.json
  pnpm-lock.yaml
  src/lib/ui/ImageModal.svelte
  src/lib/ui/ResizableImage.svelte
Labels: 🖼️ Images, User Interface

#654 feat: enhance Folksonomy integration with new editor and value fetching
  src/lib/api/folksonomy.ts
  src/routes/products/[barcode]/+page.svelte
  src/routes/products/[barcode]/+page.ts
  src/routes/products/[barcode]/Folksonomy.svelte
Labels: 🏷️ Folksonomy Engine

#690 feat(ImageModal): add pan support
  src/lib/ui/ImageModal.svelte
  src/lib/ui/ResizableImage.svelte
Labels: 🖼️ Images, User Interface

#694 feat(ci): add dependency review step
  .github/workflows/ci.yml
Labels: GitHub Actions

#600 feat: User preferences form implemented
  pnpm-lock.yaml
  src/lib/api/product.ts
  src/lib/i18n/messages/en.json
  src/lib/productScoring.ts
  src/lib/scoring.ts
  src/lib/stores/preferencesStore.ts
  src/lib/ui/PreferenceSection.svelte
  src/lib/ui/PreferencesForm.svelte
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/products/search/+page.server.ts
  src/routes/products/search/+page.svelte
Labels: 🔎 Search, Attributes, User Interface, Search

#706 chore: replace prettier with pretty-quick in commit hooks
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: 💸 Prices, 🏷️ Folksonomy Engine, Settings, User Interface, Search, QR

#715 ci: add permissions block to ci.yml
  .github/workflows/ci.yml
Labels: GitHub Actions

#720 fix: Pop-over is not closed when selecting facet
  src/routes/products/search/FacetCard.svelte
Labels: Search

#725 feat: personalized search on facets
  src/lib/stores/preferencesStore.ts
  src/lib/ui/PreferencesForm.svelte
  src/lib/ui/ProductGrid.svelte
  src/lib/ui/WcProductCard.svelte
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/facets/[facet]/[value]/+page.svelte
  src/routes/facets/[facet]/[value]/+page.ts
  src/routes/settings/+page.svelte
  src/routes/settings/+page.ts
  src/routes/settings/Heading.svelte
  src/routes/settings/Influence.svelte
Labels: Settings, User Interface
