Repository openfoodfacts/openfoodfacts-explorer, pull requests merged in 2025-03, with the labels that each got.

#185 feat: Add editing support for ingredients and name in all available languages
  src/lib/api/product.ts
  src/lib/const.ts
  src/routes/products/[barcode]/edit/+page.svelte
Labels: ✏️ Editing

#275 feat: added padding to header for symmetrical UI
  src/routes/+layout.svelte
Labels: Header

#294 feat: enhancements for authentication
  src/routes/settings/+page.svelte
Labels: 🔐 Auth

#291 feat: implementation of product basic editing, packaging editing and nutritional information editing
  src/lib/api/product.ts
  src/routes/products/[barcode]/edit/+page.svelte
Labels: ✏️ Editing

#298 feat: implementation of rotation of images for logged in users
  src/lib/ui/ImageButton.svelte
  src/lib/ui/ImageModal.svelte
Labels: ✏️ Editing, 🖼️ Images

#307 chore: created `.env.example` for environment variables
  .env.example
  README.md
Labels: 👩‍💻 DevOps

#313 fix: location marker gets broken on map
  src/lib/knowledgepanels/Map.svelte
Labels: 🗺️ Maps, Product page

#343 ci: labeler for off-explorer
  .github/labeler.yml
Labels: GitHub Actions

#288 feat: beautification of Folksonomy engine key (/folksonomy)
  src/routes/folksonomy/+page.svelte
Labels: 🏷️ Folksonomy Engine

#293 added preferences in card
  src/lib/api/product.ts
  src/lib/ui/SmallProductCard.svelte
Labels: Lists of products, Food preferences

#303 chore: fixed all errors in `pnpm check`
  src/lib/api/prices.ts
  src/routes/products/[barcode]/Prices.svelte
Labels: 👩‍💻 DevOps

#285 handle missing images in home page cards (#272)
  src/lib/ui/SmallProductCard.svelte
  static/Placeholder.svg
Labels: Home page, Lists of products

#299 chore: fixes some pnpm lint errors
  src/lib/knowledgepanels/Element.svelte
  src/lib/knowledgepanels/Panel.svelte
  src/lib/knowledgepanels/PanelGroup.svelte
  src/lib/knowledgepanels/Panels.svelte
  src/lib/ui/ImageModal.svelte
  src/routes/+error.svelte
  src/routes/folksonomy/[key]/+page.svelte
  src/routes/products/[barcode]/+page.svelte
  src/routes/products/[barcode]/Folksonomy.svelte
  src/routes/products/[barcode]/edit/+page.svelte
  src/routes/products/[barcode]/edit/Tags.svelte
  src/routes/products/search/+page.svelte
  src/routes/settings/+page.svelte
  src/routes/taxo/[taxo]/[id]/+page.svelte
Labels: 👩‍💻 DevOps

#326 Enhanced Card Component of Home Page
  src/lib/ui/SmallProductCard.svelte
Labels: Home page

#351 feat: Added configurable radius parameter for searching nearby stores
  src/lib/location.ts
Labels: 💸 Prices

#375 ci: force Pull Requests to be semantic
  .github/workflows/github-projects.yml
  .github/workflows/semantic-pr.yml
Labels: GitHub Actions

#374 Corrected the path of Placeholder.svg in the SmallProductCard component
  src/lib/ui/SmallProductCard.svelte
Labels: Lists of products

#353 fix: Improvements and Fixes in package.json
  package.json
Labels: dependencies
