Repository openfoodfacts/openfoodfacts-explorer, pull requests merged in 2025-07, with the labels that each got.

#569 fix: Potential fix for code scanning alert no. 3: Workflow does not contain permissions
  .github/workflows/semantic-pr.yml
Labels: GitHub Actions

#570 fix: Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/github-projects.yml
Labels: GitHub Actions

#585 chore: move GitHub link from navbar to settings page
  src/routes/+layout.svelte
  src/routes/settings/+page.svelte
Labels: Settings

#589 feat: Added the option to select currency
  .env.example
  package.json
  pnpm-lock.yaml
  src/lib/i18n/messages/en.json
  src/lib/i18n/messages/it.json
  src/lib/settings.ts
  src/routes/settings/+page.svelte
  src/routes/settings/+page.ts
Labels: Settings

#597 feat: add "searching" and "loading" state to SearchBar component
  src/lib/ui/SearchBar.svelte
  src/routes/+layout.svelte
Labels: User Interface

#594 feat: Added charts for the search results
  package.json
  pnpm-lock.yaml
  src/lib/api/search.ts
  src/lib/i18n/messages/en.json
  src/lib/ui/VegaChart.svelte
  src/routes/products/search/+page.svelte
  src/routes/products/search/+page.ts
  svelte.config.js
Labels: 🔎 Search, Charts, User Interface, Search

#579 feat: Implemented product addition if not found
  src/app.d.ts
  src/lib/api/product.ts
  src/lib/i18n/messages/en.json
  src/lib/ui/AddProductForm.svelte
  src/lib/ui/EditProductForm.svelte
  src/lib/ui/InfoTooltip.svelte
  src/lib/ui/PhotoManager.svelte
  src/lib/ui/PhotoTypeSection.svelte
  src/lib/ui/StepNav.svelte
  src/lib/ui/add-product-steps/BasicInfoStep.svelte
  src/lib/ui/add-product-steps/CommentStep.svelte
  src/lib/ui/add-product-steps/DesktopStepNavigation.svelte
  src/lib/ui/add-product-steps/ImagesStep.svelte
  src/lib/ui/add-product-steps/IngredientsStep.svelte
  src/lib/ui/add-product-steps/LanguagesStep.svelte
  src/lib/ui/add-product-steps/MobileStepHeader.svelte
  src/lib/ui/add-product-steps/NavigationButtons.svelte
  src/lib/ui/add-product-steps/NutritionStep.svelte
  src/lib/ui/edit-product-steps/BasicInfoStep.svelte
  src/lib/ui/edit-product-steps/CommentStep.svelte
  src/lib/ui/edit-product-steps/ImagesStep.svelte
  src/lib/ui/edit-product-steps/IngredientsStep.svelte
  src/lib/ui/edit-product-steps/LanguagesStep.svelte
  src/lib/ui/edit-product-steps/NutritionStep.svelte
  src/lib/utils.ts
  src/routes/products/[barcode]/edit/+page.svelte
  src/routes/products/[barcode]/edit/PhotoManager.svelte
  src/routes/products/[barcode]/edit/Tags.svelte
  src/routes/qr/+page.svelte
Labels: Product addition, User Interface, QR
